.popup-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.button-box-close{
    width: 100%;
    display: block;
    text-align: end;
    box-sizing: border-box;
}

.button-close{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: solid 0.5px;
    border-color: #D62600 ;
    background-color: transparent;
    color:#D62600;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(1, -0.08, 0.95, 0.95);
    
}

.button-close:hover{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: solid 0.5px;
    border-color: red ;
    background-color: transparent;
    color:red;
    transition:none;
    
}

.button-close:active{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: solid 0.5px;
    border-color: #D62600 ;
    background-color: transparent;
    color:#D62600;
    
}