.option-box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    border: #D3D3D3 solid 1px;
}

.option-box .MuiFormControlLabel-label{
    font-size: 14px;
}

.option-box .MuiFormLabel-root{
    font-size: 14px;
}

.datepicker-box{
    margin-top: 5px;
}

.datepicker-box .MuiInputLabel-root{
    font-size: 14px;
}

.datepicker-box .MuiOutlinedInput-root{
    font-size: 14px;
}