
.table-type-1 table {
    border-collapse: collapse;
    border: 0;
}

.table-type-1 thead {
    z-index: 1000;
    position: relative;
  }

.table-type-1 th, td {
    border: 1px solid #aaa;
    background-clip: padding-box;
    scroll-snap-align: start;
    padding: 0.1rem;
    text-align: center;
    margin: 0;
}

.table-type-1 thead th {
    position: sticky;
    top: 0;
    border-top: 0;
    background-clip: padding-box;
}

.table-type-1 thead th.pin {
    left: 0;
    z-index: 1001;
    border-left: 0;
  }

.table-type-1 tbody {
    z-index: 10;
    position: relative;
}

.table-type-1 tbody tr td {
    word-break:break-word;
}


.table-type-1 thead th {
    background-color: #f8f8f8;
}