.email-box{
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    border: #D3D3D3 solid 1px;
}

.email-plus-button-box{
    width:100%;
    text-align: end;
}

.email-box-1{

}
.email-box-2{
    display: flex;
    vertical-align: bottom;
}

.email-box-2 .MuiAutocomplete-root{
    margin-top: 8px;
}

.email-box .MuiOutlinedInput-root{
    font-size: 14px;
}

.email-box .MuiFormLabel-root{
    font-size: 14px;
}